
.cart {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #f04646;
    color: #fff;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
    z-index: 2;
}

.box_cart{
    z-index: 2;
    width: 350px;
    height: 500px;
    position: absolute;
    background: #fff;
    bottom: 50px;
    padding: 8px;
    box-shadow: 1px 1px 8px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
    visibility: hidden;
}

.box_cart::after{
    content: "";
    position: absolute;
    left: 50px;
    bottom: -15px;
    width: 0px;
    height: 0px;
    border-top: 15px solid white;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
}

.box_cart::before{
    /*z-index: 2;*/
    content: "";
    position: absolute;
    /*left: 50px;*/
    bottom: -20px;
    width:350px;
    height: 25px;
    left: 0;
    /*background: red;*/
}

.box_cart::before:hover .box_cart{
    visibility: visible;
    cursor: pointer;
}

.cart_title{
    font-size: 20px;
    color: #353340;
}

.cart_list{
    height: 400px;
    padding: 20px 0;
    overflow: hidden;
}

.cart_item{
    display: flex;
    justify-content: flex-start;
    padding: 4px;
    margin-bottom: 12px;
}

.cart_item:hover{
    background: #ddeedd;
}

.cart_item .cart_item_image{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.cart_item .cart_item_image img{
    width: 100%;
}

.cart_item .cart_item_name{
    font-size: 14px;
    width: 180px;
    color: #1b1b1b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*line-height: 16px;*/
}

.cart_item .cart_item_price{
    color: orangered;
    margin-left: auto;
}

.cart_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.cart_footer span{
    font-size: 12px;
}

.cart:hover .box_cart{
    visibility: visible;
}
