/*.radio-left {*/
/*    margin-top: 20px;*/
/*}*/
/*.radio-left{*/
/*    background-color: white;*/
/*}*/
/*.teller {*/
/*    height: 50px;*/
/*    border-bottom: 1px solid #97818136;*/
/*    position: relative;*/
/*}*/
/*.teller p {*/
/*    padding-left: 20px;*/
/*    padding-top: 10px;*/
/*    font-weight: bold;*/
/*    font-size: 15px;*/
/*}*/
/*.sort {*/
/*    margin: 20px;*/
/*}*/
/*.sort p {*/
/*    font-weight: bold;*/
/*    font-size: 15px;*/
/*    padding-bottom: 15px;*/
/*}*/
/*.radio-title input:checked {*/
/*    background-color: #2196f3;*/
/*}*/
/*label {*/
/*    font-weight: 500;*/
/*}*/
/*.star {*/
/*    text-align: center;*/
/*    color: orange;*/
/*}*/
/*.fa-color {*/
/*    color: darkgray;*/
/*}*/
/*.range-slide {*/
/*    position: relative;*/
/*    margin-bottom: 40px;*/
/*    height: 4px;*/
/*    width: 240px;*/
/*}*/

/*.slide {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    height: 15px;*/
/*    background: #ccc;*/
/*    left: 9px;*/
/*    right: 9px;*/
/*}*/

/*.line {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    height: 4px;*/
/*    background-color: white;*/
/*}*/

/*.thumb {*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    text-align: left;*/
/*    border: 1px solid black;*/
/*    background-color: white;*/
/*    border-radius: 50%;*/
/*    outline: none;*/
/*    top: -7px;*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    margin-left: -9px;*/
/*}*/


/*input::-webkit-slider-thumb {*/
/*    -webkit-appearance: none;*/
/*    appearance: none;*/
/*    pointer-events: all;*/
/*    border-radius: 50%;*/
/*    cursor: pointer;*/
/*    width: 18px;*/
/*    height: 18px;*/
/*}*/
/*.wrapper {*/
/*    margin: 20px;*/
/*    overflow: hidden;*/
/*    min-height: 100vh;*/
/*}*/
/*.categories,*/
/*.box-categories,*/
/*.category,*/
/*.fillter__sidebar {*/
/*    background-color: #fff;*/
/*    padding: 20px;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);*/
/*    border: 1px solid #0000001a;*/
/*}*/

/*.fillter__sidebar {*/
/*    padding: 0;*/
/*}*/

.fillter__sidebar {
    padding: 0;
}

.radio-left {
    margin-top: 20px;
}
.teller {
    height: 50px;
    border-bottom: 1px solid #97818136;
    position: relative;
}
.teller p {
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 15px;
}
.sort {
    margin: 20px;
}
.sort p {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 15px;
}
.radio-title input:checked {
    background-color: #2196f3;
}
label {
    font-weight: 500;
}
.star {
    text-align: center;
    color: orange;
}
.fa-color {
    color: darkgray;
}
.wrapper {
    margin: 20px;
    overflow: hidden;
    min-height: 100vh;
}
.category::before,
.teller::before {
    content: "";
    position: absolute;
    background-color: #ed7e7e;
    width: 5px;
    height: 30px;
    top: 18px;
    left: 0;
}

.teller::before {
    top: 10px;
}
.input{
    background: white;
    border: 1px solid black;
    width: 100%;
    color: black;
    font-size: 15px;
}
#rating{
    text-align: end;
    color: orange;
    padding-right: 70px;
}
#rating>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before{
    margin:0px;
    font-size:1.25em;
    font-family:FontAwesome;
    display:inline-block;
    content:"\f005";
}/*1 ngôi sao*/
#rating>.half:before{
    content:"\f089";
    position:absolute;
}/*0.5 ngôi sao*/
#rating>label{
    color:#ddd;
    float:right;
}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover,
#rating:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{color:#FFED85;}


