

body {
  overflow-x: hidden;
}






/*main category*/

/*main category*/

.categories,
.box-categories,
.category,
.fillter__sidebar {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
  border: 1px solid #0000001a;
}

.fillter__sidebar {
  padding: 0;
}
.cart {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f04646;
  color: #fff;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
}

.pagination {
  width: 100%;
  text-align: center;
  margin: 20px;
}

.pagination__item {
  background-color: #e3b3b333;
  text-decoration: none;
  padding: 4px 10px;
  margin: 0 4px;
  min-width: 37px;
  display: inline-block;
  font-size: 14px;
  color: #2b3f53d1;
  border: 1px solid #ecd1d196;
  border-radius: 4px;
  transition: 0.1s linear;
}

.pagination__item:hover,
.cart:hover {
  filter: brightness(1.1);
}

.pagination__item.active {
  background-color: #9393f1;
  color: #fff;
}

.range-slide {
  position: relative;
  margin: 10px;
  height: 4px;
  width: 240px;
}

.slide {
  position: absolute;
  top: 0;
  height: 4px;
  background: #ccc;
  left: 9px;
  right: 9px;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: red;
}

.thumb {
  position: absolute;
  z-index: 2;
  text-align: left;
  border: 1px solid red;
  background-color: #4ee44e;
  border-radius: 50%;
  outline: none;
  top: -7px;
  height: 18px;
  width: 18px;
  margin-left: -9px;
}

.range-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  height: 3px;
  top: 0;
  width: 100%;
  opacity: 0;
  margin: 0;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  border-radius: 50%;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.display {
  margin: 10px;
  width: 240px;
  display: flex;
  justify-content: space-between;
}
