

body {
  overflow-x: hidden;
}

.categories,
.box-categories,
.category,
.fillter__sidebar {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
  border: 1px solid #0000001a;
}

.range-slide {
  position: relative;
  margin: 10px;
  height: 4px;
  width: 240px;
}

.slide {
  position: absolute;
  top: 0;
  height: 4px;
  background: #ccc;
  left: 9px;
  right: 9px;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: red;
}

.thumb {
  position: absolute;
  z-index: 2;
  text-align: left;
  border: 1px solid red;
  background-color: #4ee44e;
  border-radius: 50%;
  outline: none;
  top: -7px;
  height: 18px;
  width: 18px;
  margin-left: -9px;
}

.range-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  height: 3px;
  top: 0;
  width: 100%;
  opacity: 0;
  margin: 0;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  border-radius: 50%;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.display {
  margin: 10px;
  width: 240px;
  display: flex;
  justify-content: space-between;
}

.modal_overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-out;
}

.modal_overlay .modal_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgba(0,0,0,.7);
    border-radius: 3px;
}

.modal_overlay .modal_content i{
    font-size: 40px;
    color: #00BFA5;
    margin-bottom: 30px;
}

.modal_overlay .modal_content p{
    color: #fff;
    font-size: 20px;
}

.category_none{
    display: none;
}
