.categories {
    position: relative;
}

.categories__head {
    font-size: 14px;
}

.categories__head i {
    color: #ec7070;
}

.box-categories {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 860px;
    background-color: #ecf2fa;
    border: 2px solid #0000001a;
    box-shadow: 0 0 15px rgb(0 0 0 / 2%);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 2;
}

.box-categories--item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    margin-bottom: 12px;
    box-shadow: 0 0 15px rgb(0 0 0 / 27%);
}

.box-categories--img {
    margin-bottom: -8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
    position: relative;
}

.blur {
    width: 100%;
    height: calc(100% - 6px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #493a3a3b;
}

.box-categories--img img {
    width: 100%;
    height: 36px;
    object-fit: cover;
    filter: blur(1.5px);
}

.box-categories--text {
    background-color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: calc(100% + 2px);
    position: relative;
    left: -1px;
    transition: 0.2s linear;
}

.box-categories i {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    color: #fff;
    font-size: 18px;
}

.box-categories--item:hover .box-categories--text {
    background-color: #f04646;
    color: #fff;
}

.categories:hover .box-categories {
    visibility: visible;
    opacity: 1;
}
